html, body {
    height: 100%
}

body, ul, li, header {
    padding: 0;
    margin: 0;
    border: 0
}

body {
    font-size: 12px;
    -webkit-text-size-adjust: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    background-color: #666;
}

#screen {
    height: 860px;
}

#nav ul {
    display: -webkit-box;
    display: box;
}

#nav li {
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 20%;
    list-style: none;
    border-bottom: 4px solid #7C7D7C
}

.hbtn{
    width: 100%;
    background-color: #090909;
    height: 45px;
    line-height: 35px;
    color: white;
    font-weight: bold;
}

.hbtn li{
    text-align: center;
    padding: 5px;
}

.hbtn li:first-child{
    text-align: left;
}

.hbtn li:last-child{
    text-align: right;
}

.text {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: top;
    padding-left: 5px
}

#nav a {
    display: block;
    height: 35px;
    border-right: 1px solid #202020;
    border-left: 1px solid #353535;
    font: bold 14px Helvetica, Arial, Verdana, sans-serif;
    color: #7B7B7B;
    text-shadow: 0px 0px 4px #333;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#nav a.active {
    color: #FFF;
}

#pagewrapper {
    position: absolute;
    z-index: 1;
    top: 85px;
    bottom: 0;
    width: 392px;
    background: #aaa;
    overflow: hidden
}

#pageflip {
    height: 100%
}

.scrollerwrapper {
    position: relative;
    z-index: 2;
    float: left;
    height: 100%;
    font-size: 2em;
    background-color: #fff;
    overflow: hidden
}

.scrollerwrapper ul {
    background-color: #666
}

.scrollerwrapper li {
    list-style: none;
    height: 96px;
    line-height: 96px;
    text-indent: 35px;
    color: #FFF;
    border-bottom: 1px solid #353535;
    background-color: #090909
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}

.b-nav {
    text-align: center;
    overflow: hidden;
    padding: 0 1%;
    background-color: #cccccc;
}

.b-nav li {
    float: left;
    width: 25%;
    list-style: none;
}

.b-nav li a {
    display: inline-block;
    width: 100%
}

.b-nav li span {
    height: 3.3rem;
    width: 3.3rem;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: .5rem
}

.b-nav li span img {
    height: 100%;
    display: inline-block;
    margin: 0 auto
}

.b-nav li p {
    font-size: .9rem;
    margin: -.3rem 0 .3rem;
    color: #818080;
}
.mainscroll{
    width:642px;
    height: 100%;
    overflow: hidden;
}
.menu{
    width: 250px;
    height: 100%;
    float: left;
}
.content{
    width: 392px;
    float: left;
}
.menu ul{
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.menu ul li {
    line-height: 57px;
    height: 57px;
    margin-left: 10px;
}

.top-btn {
    position: absolute;
    bottom: 75px;
    right: 15px;
    opacity: 0.5;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #aaaaaa;
    color: black;
    z-index: 999;
    text-align: center;
    line-height: 30px;
}
.top-btn .t-page{
    font-size:8px;
    width: 100%;
    height: 40%;
}

.top-btn .line{
    height: 1px;
    border-top:1px solid black;
    position: relative;
    top: 14px;
}